.body{
    padding: 0;
    margin: 0;
    width: 100%;
     
    }
.header {
    width: 100%;
    margin: 0;
    float: left;
}
.header #logotip
{
    width: 10%;
    float: left;
    margin-top: 1%;
    margin-left: 1%;
}
.header #devis
{
    width: 50%;
    float: left;
    margin-top: 2%;
    font-size: 5em;
    font-family: Kunstler Script;
    font: sans-serif;
    margin-left: ;
}
.header #menu
{
    width: 39%;
    float: left;
    margin-top: 2%;
}
.header #menu a
{
    text-decoration: none;
    margin-left: 20px;
    font-size: 50px;
    font: sans-serif;
    font-family: Gabriola;
    color: #801818;
}
.clear
{
    clear: both;
}

.div{
    height: 700px;
    width: 100%;
    background: #fff5ee;
}
.div1{
    height: auto;
    width: 100%;
    background: #fff5ee;
}


.ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
}
.li{
    display: inline-block;
    width: 20%;
    height: 350px;
    text-align: left;
    margin-left: 90px;
    margin-top: 30px;    
}
.text1{
    font:sans-serif; 
    font-family:Courier New;
    font-weight: bold;
    background: #fff5ee;
}
.ops{
    font: sans-serif;
   font-family:Courier New;
   color: #801818;
    font-weight: 100;
}
.ops1{
   font: sans-serif;
   font-family:Courier New;
   color: #801818;
   font-weight: bolder;
   font-size: 25px; 
}
.bg-akc
{
    background-image: url(8.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 500px;
    padding: 0;
    margin: 0;
}
#t1
{
    padding: 2%;
    margin: 0;  
    margin-left: 65%;
    font: sans-serif;
    font-family:Mistral;
    font-size: 4.5em;
    font-weight: bold;
    color: #801818;
    text-shadow: 2px 2px 5px white, 0 0 0.5em black;
}
#t2
{
    margin-left: 45%;
    text-align: center;
    font-size: 3em;
    font-family: Mistral;
    text-shadow: 2px 2px 5px white, 0 0 0.5em black;
    
}
.div3
{
    position: relative;
    width: 100%;
    background-color: #fff5ee;
    padding-bottom: 30px;
}

.ul1
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    text-align: center;
    margin: 10px;
}
.li1
{
    display: inline-block;
    overflow:hidden;
    width: 400px;
    height: 400px;
    text-align: center;
    margin-left: 30px;
    margin-bottom: 30px;
    box-shadow: rgba(0,0,0,1.2) 0px 5px 20px;
}
.t3
{
    text-align: center;
    margin-top: 0px;
    color: #801818 ;
}
.div_map
{
 height: 350px
}
.result_send{
    margin-bottom: 0;
    margin-top: 0;
    font: sans-serif;
    font-family:Courier New;
    text-align: center;
    
}
.footer
{
    width: 98%;
    float: left;
    padding: 1%;
    background-color: #1e1e1e;   
}
.footer #prava
{
    width: 30%;
    float: left;
    color: white;
}
.footer #menu
{
    float: left;
    width: 40%
}
.footer #menu p
{
    margin-left: 20px;
    float: left;
    font: 30px sans-serif;
    font-family: Gabriola; 
    color: white;
}


.footer #nomer
{
    width: 28%;
    float: left;
    text-align: center;
    color: white;
}

